16px == 1rem

html { font-size: 16px; }

* {box-sizing: border-box}

a {
  color: red
}

header {
  background-color: black;
}

header h1 {
  color: white;
  margin-left: 2rem;
  margin-bottom: .2em
}

header h2 {
  color: darkgray;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-top: .2rem;
  margin-bottom: 0;
}

header h4 {
  text-align: right;
  padding-top: 1rem;
  margin-top: 0;
  margin-right: 2rem;
}

nav {
  background-color: darkgray;
  text-align: center;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.nav-table {
  display: table;
  margin: 0;
}

nav li {
  display: inline;
  font-size: 1.5rem;
  padding-right: 100px;
  padding-left: 100px;
  margin: 0;
}

nav a {
  color: purple
}

.testimonial {
  font-style: italic;
}

.sidebar {
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
  border: solid;
}

