16px == 1rem

html { font-size: 16px; }

* {box-sizing: border-box}

a {
  color: red
}

header {
  background-color: black;
}

header h1 {
  color: white;
  margin-left: 2rem;
  margin-bottom: .2em
}

header h2 {
  color: darkgray;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-top: .2rem;
  margin-bottom: 0;
}

header h4 {
  text-align: right;
  padding-top: 1rem;
  margin-top: 0;
  margin-right: 2rem;
}

nav {
  background-color: darkgray;
  text-align: center;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.nav-table {
  display: table;
  margin: 0;
}

nav li {
  display: inline;
  font-size: 1.5rem;
  padding-right: 100px;
  padding-left: 100px;
  margin: 0;
}

nav a {
  color: purple
}

article {
  float: left;
  width: 65%;
  margin-left: 15px;
}

.testimonial {
  font-style: italic;
}

.sidebar {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 25%;
  border: solid;
}

.sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.sidebar h4 {
  text-align: center;
  padding: .5rem;
  margin: 0;
}

.sidebar h5 {
  text-align: center;
  padding: .5rem;
  margin: 0;
}

.bar-text {
  text-align: left;
  width: 50%;
  padding: .5rem;
  margin: 0;
}

.bar-link {
  text-align: right;
  margin-right: 10px;
}

footer {
  background-color: black;
  color: white;
  clear: both;
  padding-top: 20px;
}

footer h4 {
  padding: 2px;
  margin: 1px;
  margin-left: 15px;
}

footer p {
  text-align: center;
  margin: 0;
}